
$border-color: #555;
$lighter-border-color: #999;

$toolbox-bg: #ccc;
$trashcan-bg: #ccc;
$connector-bg: #ddd;
$workspace-bg: #eee;

$highlight-color: #ffd639;

.widget-editor {
  $widget-editor-margin: 10px;
  margin: $widget-editor-margin;
  display: flex;
  height: calc(100vh - #{2 * $widget-editor-margin});
}

.toolbox {
  border: 1px solid $border-color;
  background-color: $toolbox-bg;

  .toolbox-header {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid $border-color;
  }
}

.workspace {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid $border-color;
  border-left: none;
  overflow: auto;
  background-color: $workspace-bg;

  .widget-row {
    &.has-bottom-connector::after {
      content: '';
      display: block;
      position: absolute;
      left: 24px;
      bottom: -5px;
      height: 10px;
      width: 2px;
      background-color: $lighter-border-color;
    }
  }

  .widget-attach-area {
    position: absolute;
    height: 20px;
    bottom: -16px;
    margin-left: -16px;
    padding: 0 10px;
    z-index: 10;
  }

  .widget-attach-point {
    width: 30px;
    height: 5px;
    background-color: $connector-bg;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid $lighter-border-color;
  }
}

.widget-editor {
  .widget-list {
    flex-grow: 0;
  }

  .workspace-margin {
    flex-grow: 1;
    margin-top: -5px;
    position: relative;
  }

  &.is-dragging .widget-row.is-drop-target .widget-attach-area {
    bottom: -14px;

    .widget-attach-point {
      background-color: #bbb;
      border: 2px solid $highlight-color;
      height: 7px;
    }
  }

  .trashcan {
    display: flex;
    flex-grow: 0;
    padding: 10px;
    background-color: $trashcan-bg;
    border-top: 1px solid $border-color;
    justify-content: space-around;
    align-items: center;
  }

  &.is-dragging-over-trashcan .trashcan {
    background-color: #f3a2a2;
  }
}

.workspace .widget-row {
  padding: 5px 10px;
  display: flex;
  position: relative;

  &:first-child { margin-top: 5px; }
  &:last-child { margin-bottom: 5px; }
}

.toolbox .widget-row {
  margin: 10px;
  display: flex;
}

.widget {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  padding: 5px;
  border: 1px solid $lighter-border-color;
  border-radius: 5px;

  .widget-title {
    display: flex;
    align-items: center;
    white-space: pre;
  }

  .widget-content { display: flex; }

  &.drag-image {
    z-index: 1001;
    border: 3px solid $highlight-color;
    opacity: 0.85;
  }
  &.drag-image.drop-target--trashcan {
    border: 3px solid #e01d1d;
    opacity: 0.65;
  }
}

.widget-editor {
  .widget.is-dragging {
    opacity: 0.4;
  }

  &.is-targeting-trashcan, &.is-targeting-toolbox, &.is-targeting-widget-row {
    .widget.is-dragging {
      opacity: 0;
    }
  }
}

.widget {
  .widget-slots {
    align-self: stretch;display: flex;
  }
  .widget-slot, .inner-widget-section {
    display: flex;
    min-width: 50px;
    min-height: 25px;
    background-color: white;
    margin-left: 10px;
    border: 1px solid $lighter-border-color;
    align-self: stretch;
  }
  .widget-slot {
    border-radius: 6px;
  }
  .inner-widget-section {
    min-height: 40px;
    min-width: 80px;
    background-color: $workspace-bg;
  }
}

.workspace .widget-slot {
  &> .widget-row {
    margin: 0;
    padding: 0;

    &.has-bottom-connector::after {
      display: none;
    }
  }
}

.widget-1 { background-color: #7bd887; }
.widget-2 { background-color: #89c2ea; }
.widget-3 { background-color: #e8a28d; }
.widget-4 { background-color: #f3ec9c; }

.no-text-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
