
$border-color: #555;
$lighter-border-color: #999;

.widget-editor {
  $widget-editor-margin: 10px;
  margin: $widget-editor-margin;
  display: flex;
  height: calc(100vh - #{2 * $widget-editor-margin});
}

.toolbox {
  border: 1px solid $border-color;

  .toolbox-section {
    padding: 10px;
  }
}

.workspace {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid $border-color;
  border-left: none;
  overflow: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  // &.is-dragging .widget-row.is-dragging-over {
  //   border: 1px solid black;
  // }

  // .widget-row::after {
  .widget-row.has-bottom-connector::after {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    bottom: -5px;
    height: 10px;
    width: 2px;
    background: #555;
  }
}

.widget-editor {
  .widget-list {
    flex-grow: 1;
    padding: 10px;
  }

  .trashcan {
    display: flex;
    flex-grow: 0;
    padding: 10px;
    background-color: #ddd;
    border-top: 1px solid #555;
    justify-content: space-around;
    align-items: center;
  }

  &.is-dragging-over-trashcan .trashcan {
    background-color: #f3a2a2;
  }
}

.widget-row {
  display: flex;
  position: relative;
}

.widget {
  display: flex;
  flex-shrink: 0;
  padding: 5px;
  margin: 5px;
  border: 1px solid $lighter-border-color;
  border-radius: 5px;

  .widget-title {
    display: flex;
    align-items: center;
    white-space: pre;
  }

  &.drag-image {
    border: 3px solid #ffd639;
  }

  &.drag-image.drag-over--trashcan {
    border: 1px solid $lighter-border-color;
    opacity: 0.8;
  }
}

.widget-editor {
  .widget.is-dragging {
    opacity: 0.2;
  }

  &.is-dragging-over-trashcan .widget.is-dragging {
    opacity: 0;
  }
}

.widget-slot {
  display: flex;
  width: 50px;
  background-color: white;
  margin-left: 10px;
  border: 1px solid $lighter-border-color;
  align-self: stretch;
}

.widget-1 { background-color: #7bd887; }
.widget-2 { background-color: #89c2ea; }
.widget-3 { background-color: #e8a28d; }
